.highlight {
    pre {
        padding: 16px;
        height: auto;
        width: 100%;
        overflow-x: scroll;
        background-color: #1a2638;
        margin-bottom: 32px;

        code {
            color: #dfe2e5;
        }
    }
    p {
        margin-bottom: 32px;
    }
}
