.highlight {
    pre {
        padding: 16px;
        height: auto;
        width: 100%;
        overflow-x: scroll;
        background-color: #1a2638;
        margin-bottom: 32px;
        // white-space: pre-wrap;
        // word-break: break-all;
        // word-wrap: break-word;
        code {
            color: #dfe2e5;
            // overflow-wrap: anywhere;
        }
    }
    p {
        margin-bottom: 32px;
    }
}
